* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.container-header {
    position:absolute;
    padding: 5px;
    width: 1900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(7, 57, 87, 0.883);
}

.text-first {
    margin-right: 360px;
    font-family:sans-serif;
    color: #08FDD8;
    font-size: 40px;
    text-shadow: 
               -1px -1px 0px rgba(223, 134, 134, 0.561), 
               -1px 1px 0px rgba(223, 134, 134, 0.561),                    
                1px -1px 0px rgba(223, 134, 134, 0.561),                  
                1px 0px 0px rgba(223, 134, 134, 0.561);
}

.scan .fingerprint{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fingerprint {
    position: relative;
    width: 100px;
    height: 120px;
    background: url(/Portfólio/imgs/fingerPrint_01.png);
    background-size: 100px;
}

.fingerprint::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/Portfólio/imgs/fingerPrint_02.png);
    background-size: 100px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
}

.fingerprint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #3fefef;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #3fefef)  drop-shadow(0 0 60px #3fefef);
    animation: animate_Line 4s ease-in-out infinite;
}

@keyframes animate_Line {
    0%, 100%
    {
        top: 0%;
    }
    50%
    {
        top: 100%;
    }
}

.text-scan {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 1px;  
  color: #3fefef; filter: drop-shadow(0 0 20px #3fefef)  drop-shadow(0 0 60px #3fefef);
  animation: animate_text 0.5s steps(1) infinite;
}

@keyframes animate_text {
    0%,100%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
}

.container-buttonsHeader {
    display: flex;

}

.links {
    font-family: monospace;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    border: 1px solid black;
    border-radius:6px;
    margin: auto 10px 6px;
    background-color: rgba(83, 238, 230, 0.45);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur( 4px );
}

.links:hover {
    background-color:#08FDD8;
    color: #000;
}

#myPhoto {
    display: block;
    width: 300px;
    border-radius: 150px;
    margin: 300px auto 20px;
}

.container-links {
    margin-bottom: 1.0em;
    text-align: center;
}

#container-aboutMe {
    padding-top: 20px;
    text-align: center;
}

#container-contents {
    padding-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.text-description {
    text-align: center;
    margin-bottom: 35px;
}

.text-color {
    color: rgb(34, 202, 34);
    font-weight: 600;
}

.text-titles, p {
    text-align: center;
    margin-bottom:20px;
}

#container-projects {
    margin: 2.0em;
    text-align: center;
}

footer {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family:monospace;
    padding: 5px;
    background-color: black;
    color: white;
    border-top: #08FDD8 5px double;
    border-bottom: #08FDD8 5px double;
}
