* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

html [data-theme="light"]{
    --bg:#f5f6f7;
    --color-text:#9c9c9c;
    --color-shadow: -4px -2px 4px 0px #ffffff,
                     4px 2px 6px 0px;
}

html [data-theme="dark"]{
    --bg:#131419;
    --color-text:#fff;
    --color-shadow: -3px -3px 10px rgba(255,255,255,0.05)
                     3px 3px 15px;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background: url(/imagens/bg-body.png) no-repeat center center fixed;;
    background-size: cover;
}

.container-header {
    padding: 10px;
    width: 1900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/imagens/backgroud-header.webp);
    background-size: cover;
}

#myGif {
    width: 150px;
    border-radius: 20px;
    margin-left: 30px;
}

.text-first {
    font-family:sans-serif;
    color: #08FDD8;
    font-size: 40px;
    text-shadow: 
               -1px -1px 0px rgba(223, 134, 134, 0.561), 
               -1px 1px 0px rgba(223, 134, 134, 0.561),                    
                1px -1px 0px rgba(223, 134, 134, 0.561),                  
                1px 0px 0px rgba(223, 134, 134, 0.561);
}

.container-buttonsHeader {
    display: flex;

}

.links {
    font-family: monospace;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius:6px;
    margin: auto 10px 6px;
    background-color: rgba(83, 238, 230, 0.45);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur( 4px );
}

.links:hover {
    background-color:#08FDD8;
    color: #000;
}

#myPhoto {
    width: 300px;
    border-radius: 150px;
    display: block;
    margin: 200px auto 40px;
}

.container-links {
    margin-bottom: 500px;
    text-align: center;
}

.container-contents {
    padding-top: 20px;
    background-color:black ;
}

.description {
    color: whitesmoke;
    text-align: center;
}

.text-color {
    color: rgb(34, 202, 34);
    font-weight: 600;
}

.text-hardSkills {
    color: white;
}

footer {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family:monospace;
    padding: 5px;
    background-color: black;
    color: white;
    border-top: #08FDD8 5px double;
    border-bottom: #08FDD8 5px double;
}