body{
    border: 1px solid;
    background-image: url(imagemPortfólio.jpg);
      background-position: cover;
      color: white;
      margin: auto;
  }
  
  #meu_nome{
      font-family:monospace;
      text-align: center;   
  }
  
  #minhaFoto{
      text-align: center;
      margin-left: 43%;
      border-radius: 200px;
  }
  
  #description{
      font-family:sans-serif;
      text-align: center;
  }
  
  li{
      font-style: oblique;
      text-align: center;
  }
  
  #HabilidadesTitulo{
      text-align: center;
  }

  .links{
      border-top: 4px solid white;
      border-bottom: 4px solid white;
      border-left: 4px solid white;
      border-right: 4px solid white;
      font-weight: bold;
      padding-bottom: 4px;
      margin:auto;
  }
  .links:hover{
      background-color: white;
      font-size: large;
  }
  
  .style_h li:hover{
background-color: white;
color: blue;
font-size: large;
  }

  .photo_blog{
      border-top: 4px solid white;
      border-bottom: 4px solid white;
      border-left: 4px solid white;
      border-right: 4px solid white;
      font-weight: bold;
      padding-bottom: 4px;
      margin-left: 48%;
  }
  .photo_blog:hover{
    background-color: white;
    font-size: large;
  }